body {
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(255, 240, 216);
    text-align: center;
}

#frontImg {
    margin-left: 25%;
    margin-right: 25%;
    width: 900px;
    height: 950px;
}

button {
    height: 100px;
    width: 200px;
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
    font-weight: bold;
    background-color: burlywood;
    color: white;
    border-radius: 20%;
    cursor: pointer;
}